// Color 
$color-white-0 : #fff;
$color-white-1 : #F5F5F5;
$color-white-2: #ffffffe6;
$color-blue-0 : #007cc0;
$color-blue-1: #2198dc;
$color-blue-2: rgba(0, 67, 108, 0.8);
$color-dark-blue-0: #00446a;
$color-dark-blue-1 : #00324f;
$color-orange-0: #ff4040;
$color-black-0: #000;
$color-black-1: #666;

// Fontsize 
$fs-0 : 16px;
$fs-1 : 1.4rem;
$fs-2 : 1.8rem;
$fs-3: 2.4rem;
$fs-4: 6rem;
$fs-5 : 4rem;
// Fontweight
$fw-0: normal;
$fw-1 : 300;
$fw-2: bold;

// Padding
$pd-0: 6px;
$pd-1:15px;
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 30px;
$pd-5: 50px;
$pd-6 : 5%;
$pd-7 : 100px;

// Margin
$mg-0: -200px;
$mg-1: 5px;
$mg-2: 20px;
$mg-3 : 30px;
$mg-4: 45px;
$mg-5 : 60px;
$mg-6 : 100px;

// Border
$bd-0 : 1px solid #4f91ca;
$bd-1 : 0.16rem solid #eaeaea;
$bd-2 : 0.15rem solid #747474;
$bd-3 : 1px solid #a8a7a7;

// size
$vehicles-close-width : 60px;
$vehicles-circle-size : 25px;
// boxshadow 
$boxshadow-0:1px 20px 70px -10px rgba(95,59,59,.63);
$boxshadow-1: 0 5px 10px 0 #081d2a14;